<div class="col-xs-3 col-md-offset-1">
    Car Wash: {{carPrice | currency:'USD':true}}
</div>
<div class="col-xs-3 alignRight">
    Truck Wash: {{truckPrice | currency:'USD':true}}
</div>

<div class="col-xs-4 red">
    (Extra {{mudInBedPrice | currency:'USD':true}} if mud in truck bed)
</div>

<div class="col-xs-11 col-md-offset-1">
    <h2>Schedule Car Wash</h2>
    <form name="form" (ngSubmit)="f.form.valid && valid() && wash()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vehicleId.valid}">
            <label for="vehicleId">Vehicle License Plate</label>
            <input (blur)="onBlurVehicleId($event.target.value)" type="text" (ngModelChange)="vehicleIdChanged($event)" class="form-control"
                name="vehicleId" [(ngModel)]="model.vehicleId" #vehicleId="ngModel" required />
            <div *ngIf="f.submitted && !vehicleId.valid" class="help-block">Vehicle License Plate is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !isVehicleTypeSet() }">
            <label class="col-xs-3" for="vehicleType">Vehicle Type  </label>
            <div class="col-xs-4" class="radio-inline">
                <label>
                <input type="radio" name="vehicleType"  (click)="setVehicleType('Car')" >  
                Car 
            </label>
            </div>
            <div class="col-xs-4" class="radio-inline">
                <label>
                <input type="radio" name="vehicleType"  (click)="setVehicleType('Truck')" >  
                Truck  
            </label>
            </div>
            <div *ngIf="f.submitted && !isVehicleTypeSet()" class="help-block">Vehicle Type is required</div>
        </div>

        <div *ngIf="isTruck()" class="form-group" [ngClass]="{ 'has-error': f.submitted && (!isTruckBedUpSet() || isTruckBedDown())}">
            <label class="col-xs-3" for="truckBedUp">Is truck bed up?</label>
            <div class="col-xs-4" class="radio-inline">
                <label>  
                <input type="radio" name="truckBedUp" (click)="setTruckBedUpValue('Y')" >  
                Yes 
            </label>
            </div>
            <div class="col-xs-4" class="radio-inline">
                <label>  
                <input type="radio" name="truckBedUp" (click)="setTruckBedUpValue('N')" >  
                No 
            </label>
            </div>
            <div *ngIf="f.submitted && isTruck() && !isTruckBedUpSet()" class="help-block">Vehicle Bed is required</div>
        </div>
        <div *ngIf="isTruck()" class="form-group" [ngClass]="{ 'has-error': f.submitted  && !isMudInBedSet()}">
            <label class="col-xs-3" for="mudInBed">Is there mud in the bed?</label>
            <div class="col-xs-4" class="radio-inline">
                <label>  
                <input type="radio" name="mudInBed" (click)="setTruckBedMudValue('Y')"  >  
                Yes 
            </label>
            </div>
            <div class="col-xs-4" class="radio-inline">
                <label>  
                <input type="radio" name="mudInBed" (click)="setTruckBedMudValue('N')" >  
                No 
            </label>
            </div>
            <div *ngIf="f.submitted && isTruck() && !isMudInBedSet()" class="help-block">Mud in Bed is required</div>

        </div>

        <div class="row">
            <div class="col-xs-2" *ngIf="isVehicleTypeSet() && (isCar() || isTruck())">
                Total: {{model.price | currency:'USD':true}}
            </div>

            <div class="col-xs-4 green" *ngIf="isVehicleTypeSet() && (isCar() || isTruck()) && isExistingCustomer()">
                {{existingCustomerDiscount}}
            </div>

            <div>
                &nbsp;&nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12">
                <button [disabled]="loading" class="btn btn-primary">Confirm Wash</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a [routerLink]="['']" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
</div>