/* You can add global styles to this file, and also import other style files */
.btn-primary {
  background: rgb(255,235,59)  !important;
  color: rgb(66,66,66) !important;
  border-color: rgb(255,235,59)!important;
}

    
